/*
=============== 
Variables
===============
*/

:root {
  --proj-clr1: rgb(114, 66, 12);
  --proj-clr2: rgb(209, 167, 119);
  --proj-clr3: rgb(204, 191, 176);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} /*  global classes */

/* section */
section {
  width: 60vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  section {
    width: 65vw;
  }
}

/*
=============== 
Delivery Options
===============
*/

body {
  background: var(--proj-clr2);
}

h1,
h2,
h3 {
  color: var(--proj-clr1);
}
h1 {
  color: var(--proj-clr1);
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
  text-align: center;
}

.category-btns {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  border: 3px solid rgb(114, 66, 12);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  background: var(--proj-clr3);
  color: var(--proj-clr1);
  border-radius: 10px;
}

.restaurant-list {
  background: var(--proj-clr2);
}

.locations {
  border: 5px solid var(--proj-clr);
  border-radius: 10px;
  background: rgb(204, 191, 176);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.location-info {
  box-sizing: border-box;
  width: 60%;
}

img {
  width: 250px;
  height: 175px;
  padding: 10px;
  object-fit: cover;
}
